{% extends 'webkiosk/base_template.html' %}

{% block pagetitle %} Address Form {% endblock %}

{% block content %}


<h2> Add Address</h2>


<form method="post">
    {% csrf_token %}
    

    <div class="mb-3">
        <label for="id_street" class="form-label">Street</label>
        {{ form.street }}
    </div>

    <div class="mb-3">
        <label for="id_city" class="form-label">City</label>
        {{ form.city }}
    </div>

    {{ form.customer }}

    <button type="submit" class="btn btn-primary">Add</button>
</form>




{% endblock %}
