{% extends 'webkiosk/base_template.html' %}

{% block content %}

{% block pagetitle %} Delete Customer #{{customer.id}} {% endblock %}

<h2>Delete Customer</h2>

<div class="alert alert-warning">
    Are you sure you want to delete <strong>Customer #{{ customer.id }} {{ customer.firstname }} {{ customer.last }}</strong>?
</div>


<form method="post">
    {% csrf_token %}
    <a href="{% url 'webkiosk:customer-list' %}" class="btn btn-outline-secondary">Cancel</a>
    <input type="submit" value="Yes" class="btn btn-danger">
</form>

{% endblock %}
