{% extends 'webkiosk/base_template.html' %}

{% block content %}

{% block pagetitle %}  {% endblock %}

<h1> Customers</h1>

<table class="table table-hover table-bordered align-middle">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customerlist %}
      <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.firstname }} {{ customer.lastname }}</td>
        <td>
          <a href="{% url 'webkiosk:customer-detail' customer.id %}" class="btn btn-sm btn-info">More Info</a>
          <a href="{% url 'webkiosk:customer-update' customer.id %}" class="btn btn-sm btn-warning">Edit</a>
          <a href="{% url 'webkiosk:customer-delete' customer.id %}" class="btn btn-sm btn-danger">Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3" class="text-center">There are currently 0 customers.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'webkiosk:customer-add' %}" class="btn btn-success mt-3">Add New Customer</a>

{% endblock %}
